<div class="card">
    <div class="card-header h4">
      City
    </div>
<div class="card-body">
    <form [formGroup]="cityForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-6">
          <label class="h6">Country</label>
          <select class="form-select" formControlName="countryId" (change)="getstatesbycountrycity()"  [ngClass]="{ 'is-invalid': submited && f['countryId'].errors }">
            <option value="null">--Select Country--</option>
            <option *ngFor="let country of countrylist" value="{{country.id}}">{{country.description}}</option>
        </select>
        <div *ngIf="submited && f['countryId'].errors" class="invalid-feedback">
            <div *ngIf="f['countryId'].errors['required']">Country is required.</div>
          </div>
          <!-- <select class="form-control form-control-lg" (change)="getStates()" formControlName="countryId">
            <option value="">--Select Country--</option>
            <option *ngFor="let country of countrylist" [value]="country.id">{{ country.description }}</option>
          </select> -->
        </div>
        <div class="col-md-6">
          <label class="h6">State</label>
          <select class="form-select" formControlName="stateId"  [ngClass]="{ 'is-invalid': submited && f['stateId'].errors }">
            <option value="null">--Select State --</option>
            <option *ngFor="let state of stateList" value="{{state.id}}">{{state.description}}</option>
        </select>
        <div *ngIf="submited && f['stateId'].errors" class="invalid-feedback">
            <div *ngIf="f['stateId'].errors['required']">State is required.</div>
          </div>

          <!-- <select class="form-control form-control-lg" formControlName="stateId">
            <option value="">--Select State--</option>
            <option *ngFor="let state of stateList" [value]="state.id">{{ state.description }}</option>
          </select> -->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <label for="description" class="form-label h6">City<span class="text-danger">*</span></label>
          <div data-mdb-input-init class="form-outline">
            <input type="text" class="form-control"  id="description" formControlName="description"
              placeholder="Enter description" [ngClass]="{ 'is-invalid': submited && f['description'].errors }" />
            <div *ngIf="submited && f['description'].errors" class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">Description is required.</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <button type="submit" class="btn btn-primary mt-3" style="background-color: #8d0000;">Submit</button>
      <button type="button" class="btn btn-secondary ml-2 mt-3" (click)="clear()">Close</button> -->
      <div class="d-flex flex-wrap" style="padding-top: 20px;">
        <div class="col-md-6 mt-4 d-flex g-3 ">
          <input type="submit" style="width: 200px; background-color: #8D0000;" class="btn btn-danger  mr-4" value="Save" />
          <div style="width: 200px;" type="button" class="btn btn-dark"
            (click)="clear()">Close</div>
        </div>
      </div>
    </form>
  </div>
  </div>