.left-bar{
    width: 200px !important;
    height: calc(100vh - 120px);
    background:#F1F1F1 ;
    box-sizing: border-box;
    margin: -16px 0 -16px -16px;
}
.left-bar .items{
    margin: 2px 0;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
}
.left-bar .items:hover{
    background: #CCCCCC;
}
.left-bar  .active{
    background: #CCCCCC;
}
