<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Industry Type
    </div>
    <div class="card-body">

      <form [formGroup]="industrytypeForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="button" class="btn btn-secondary ml-2">Close</button> -->
        <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Close</button>
      </form>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Industry Type</th> 
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of IndustrytypeList; let a=index"> 
        <th scope="row">{{a+1}}</th>
        <td>{{i.description}}</td> 
        <td>
          <button routerLink="/CRM/Settings/configuration/industry-type" [queryParams]="{industrytypeid:i.id}" class="btn btn-sm btn-outline-primary" (click)="edit(i.id)">
            <i class="fa fa-pencil-alt"></i>
          </button>
          <button routerLink="/CRM/Settings/configuration/industry-type" [queryParams]="{industrytypeid:i.id}" class="btn btn-sm btn-outline-danger ml-2" (click)="deleteIndustrytype(i.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
