
<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Industry Type
      </div>
      <div class="card-body">

        <form [formGroup]="industrytypeForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter description">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <!-- <button type="button" class="btn btn-secondary ml-2">Close</button> -->
          <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reset</button>
        </form>
      </div>
    </div>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Industry Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of Industrytypelist; let i= index">
          <th scope="row">{{i+1}}</th>
          <td>{{a.description}}</td>
          <td>
            <button (click)="edit(a.id)" routerLink="/CRM/Settings/configuration/industry-type" [queryParams]="{industryTypeid:a.id}" class="btn btn-sm btn-outline-primary">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button (click)="deleteIndustrytype(a.id)" routerLink="/CRM/Settings/configuration/industry-type" [queryParams]="{industryTypeid:a.id}" class="btn btn-sm btn-outline-danger ml-2">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
