<div class="form first">
    <h3>Reminders</h3>
    <hr />
    <div *ngIf="open==1" class="card-body">
        <div>
            <div class="mr-2 d-flex justify-content-end">
                <button type="button" routerLink="/CRM/leadView/{{id}}/reminder/{{id}}" [queryParams]="{reminder:0}"
                    class="btn btn-primary">Create Reminder</button>
            </div>
        </div>
        <div class="row mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Notes</th>
                        <th>Reminder Name</th>
                        <th>Reminder Date</th>
                        <th>Reminder Time </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of remindersList;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{a.notes}}</td>
                        <td>{{a.reminderName}}</td>
                        <td>{{a.reminderDate | date}}</td>
                        <td>{{a.reminderTime | date: 'shortTime'}}</td>
                        <td>
                            <span routerLink="/CRM/leadView/{{id}}/reminder/{{id}}" [queryParams]="{reminder:a.id}"
                                (click)="edit(a.id)" class="material-symbols-outlined mr-2">
                                edit
                            </span>
                            <span (click)="deleteCallLog(a.id)" class="material-symbols-outlined">
                                delete
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="open==2">
        <form [formGroup]="myForm" (ngSubmit)="addReminder()">
            <div class="d-flex flex-wrap">
                <div class="col-md-3">
                    <label for="reminderName" class="form-label">Reminder Name<span class="text-danger">*</span></label>
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" formControlName="reminderName"
                            [ngClass]="{ 'is-invalid': submitted && f['reminderName'].errors }">
                        <div *ngIf="submitted && f['reminderName'].errors" class="invalid-feedback">
                            <div *ngIf="f['reminderName'].errors['required']">Contact is required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="reminderDate" class="form-label">Reminder Date<span class="text-danger">*</span></label>
                    <div data-mdb-input-init class="form-outline">
                        <input type="date" class="form-control" formControlName="reminderDate" 
                        [ngClass]="{ 'is-invalid': submitted && f['reminderDate'].errors }">
                        <div *ngIf="submitted && f['reminderDate'].errors" class="invalid-feedback">
                            <div *ngIf="f['reminderDate'].errors['required']">Call Types is required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="reminderTime" class="form-label">Reminder Time<span class="text-danger">*</span></label>
                    <div data-mdb-input-init class="form-outline">
                        <input type="time" class="form-control" formControlName="reminderTime"
                        [ngClass]="{ 'is-invalid': submitted && f['reminderTime'].errors }">
                        <div *ngIf="submitted && f['reminderTime'].errors" class="invalid-feedback">
                            <div *ngIf="f['reminderTime'].errors['required']">CallDate is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="d-flex flex-wrap">
                    <div class="col-md-6">
                        <label>Notes <span class="required">*</span> </label>
                        <textarea class="form-control" cols="100" rows="3" formControlName="notes"
                            [ngClass]="{ 'is-invalid': submitted && f['notes'].errors }"></textarea>
                        <div *ngIf="submitted && f['notes'].errors" class="invalid-feedback">
                            <div *ngIf="f['notes'].errors['required']">Comments is required.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap">
                <div class="col-md-6 mt-3 d-flex g-1">
                    <div class="mr-2">
                        <button type="submit" style="width: 200px;" class="btn btn-primary">Submit</button>
                    </div>
                    <div>
                        <div routerLink="/CRM/leadView/{{id}}/reminder/{{id}}" (click)="close()" style="width: 200px;"
                            type="button" class="btn btn-danger">Close</div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>