<div class="card m-3 w-100 card-main-list">
    <div class="card-header">
        Campaigns View
    </div>
    <div class="card-body">
        <div class="container">
            <div class="tabs">
                <div class="tab-header">
                    <div class="tab" routerLink="/CRM/Campagins/main/campagins" routerLinkActive="active">Campaigns</div>
                    <div class="tab" routerLink="/CRM/Campagins/main/email-conversation" routerLinkActive="active">Email Conversation Campaigns</div>
                    <div class="tab" routerLink="/CRM/Campagins/main/social-media-campagins" routerLinkActive="active">Social Campagins</div>
                    <div class="tab" routerLink="/CRM/Campagins/main/sms-campagins" routerLinkActive="active">SMS Campaigns</div>
                </div>
                <div class="tab-content">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>