<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        Call Type 
      </div>
      <div class="card-body">
        <form [formGroup]="calltypeForm" (ngSubmit)="submitForm()">
          <div class="mb-2">
            <label for="description" class="form-label">Description<span class="text-danger">*</span></label>
            <div data-mdb-input-init class="form-outline">
              <input type="text" class="form-control" id="description" formControlName="description"
                placeholder="Enter description" [ngClass]="{ 'is-invalid': submited && f['description'].errors }" />
              <div *ngIf="submited && f['description'].errors" class="invalid-feedback">
                <div *ngIf="f['description'].errors['required']">Description is required.</div>
              </div>
            </div>
          </div>
         <button type="submit" class="btn btn-primary">Submit</button>
          
          <button type="button" class="btn btn-secondary ml-2" (click)="clear()">Close</button>
        </form>
      </div>
    </div>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Call Type</th> 
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of CalltypeList; let i= index"> 
          <th scope="row">{{i+1}}</th>
          <td>{{c.description}}</td> 
          <td>
            <button routerLink="/CRM/Settings/call-type/" [queryParams]="{calltypeid: c.id}" 
              class="btn btn-sm btn-outline-primary">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger ml-2"  (click)="deleteCalltype(c.id)"> <!-- Updated from deleteSource -->
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  