i{
    cursor: pointer;
}
.required{
color: red;
}
.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .tab-header {
    display: flex;
    border-bottom: 2px solid #ccc;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
  }
  
  .tab.active {
    border: 1px solid #ccc;
    border-bottom: 2px solid #fff;
    background-color: #D11639;
    color: #fff;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
  }

  .card{
    width: calc(100vw - 300px) !important;
  }



/* Style for the table header */
.table thead th {
    background-color: black;
    color: white;
}

/* Style for the table body fields */
.table tbody td {
    background-color: white;
    color: black;
}


/* Style for the Pagination code */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.material-symbols-outlined{
  cursor: pointer;
}

