<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">
      City
    </div>
    <div class="card-body">
      <div class="row" >
          <div class="col-md-10"></div>
          <div class="col-md-2">
              <a class="btn  btn-outline-primary" routerLink="/CRM/Settings/addcity" style="background-color: #8D0000;color: white;">Add City</a>
          </div>
        
      </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Country</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of citylist; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ c.countryName }}</td>
        <td>{{ c.stateName }}</td>
        <td>{{ c.description }}</td>
        <td>
          <button routerLink="/CRM/Settings/addcity" [queryParams]="{cityid: c.id}"
          class="btn btn-sm btn-outline-primary">
            <i class="fa fa-pencil-alt"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger ml-2" (click)="deleteCity(c.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
