<div style="padding-left: 50px;">
    <div class="row center-content">
        <label>
            <b>
                <h6 style=" font-weight: bold;">{{company.companyName}}</h6>
            </b>
            <h6>Company Profile-Details</h6>
        </label>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Company Name : </label>
            <b>{{company.companyName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Company Domain Name : </label>
            <b>{{company.domainName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Company Owner : </label>
            <b>{{company.companyOwner}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Company Industry Name : </label>
            <b>{{company.companyIndustryName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Company Industry Type : </label>
            <b>{{company.companyIndustryTypeName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Head Count : </label>
            <b>{{company.headCount}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Annual Revenue : </label>
            <b>{{company.annualRevenue}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Country : </label>
            <b>{{company.countryName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">State : </label>
            <b>{{company.stateName}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">City : </label>
            <b>{{company.cityName}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Postal Code : </label>
            <b>{{company.postalCode}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Time Zone : </label>
            <b>{{company.timeZoneName}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Website : </label>
            <b>{{company.website}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Business Email : </label>
            <b>{{company.businessEmail}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">LinkedIn URL : </label>
            <b>{{company.linkedinUrl}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Address - 1 : </label>
            <b>{{company.companyAddress1}}</b>
        </div>
        <div class="col-md-4">
            <label class="form-label">Address - 2 : </label>
            <b>{{company.companyAddress2}}</b>
        </div>
    </div>
</div>