<div class="container-fluid mt-5">
    <div class="card">
      <div class="card-header h4">
        Probability
      </div>
      <div class="card-body">
        <div class="row" >
            <div class="col-md-9"></div>
            <div class="col-md-3" style="padding-top: 20px;">
                <a class="btn  btn-outline-primary" routerLink="/CRM/Settings/probability" 
                style=" float: right; background-color: #8D0000;color: white;">Add Probability</a>
            </div>
        </div>
        <table class="rwd-table table-bordered mt-4" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col" style="width:24%" class="text-center">Actions</th>
                    <th scope="col" style="width: 16%;" class="text-center">S.No</th>
                    <th scope="col" style="width: 30%;" class="text-center">Stage</th>
                    <th scope="col" style="width: 30%;" class="text-center">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of Probabilitylist| paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  }; let i=index">
                  <td class="text-center">
                      <button class="btn btn-sm btn-outline-primary" routerLink="/CRM/Settings/probability" [queryParams]="{id:a.id}">
                          <i class="fa fa-pencil-alt"></i>
                      </button>
                      <button class="btn btn-sm btn-outline-danger ml-2" (click)="deleteProbability(a.id)">
                          <i class="fa fa-trash"></i>
                      </button>
                  </td>
                    <td scope="row" class="text-center">{{ getSerialNumber(i) }}</td>
                    <td class="text-center">{{ (a.stageName) }}</td>
                    <td  class="text-center">{{ a.description }}</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-container" style="float: right;">
            <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
</div>