<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">
      Time Zone
    </div>
    <div class="card-body">

      <form [formGroup]="timezoneForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="button" class="btn btn-secondary ml-2">Close</button> -->
        <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reset</button>
      </form>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">TimeZone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of Timezonelist; let i= index">
        <th scope="row">{{i+1}}</th>
        <td>{{a.description}}</td>
        <td>
          <button routerLink="/CRM/Settings/configuration/time-zone" [queryParams]="{timezoneid:a.id}" class="btn btn-sm btn-outline-primary" (click)="edit(a.id)">
            <i class="fa fa-pencil-alt"></i>
          </button>
          <button routerLink="/CRM/Settings/configuration/time-zone" [queryParams]="{timezoneid:a.id}" class="btn btn-sm btn-outline-danger ml-2" (click)="deleteTimezone(a.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>