<!-- app.component.html -->
<div class="container-fluid mt-5">
    <div class="card">
      <div class="card-header">
        Status
      </div>
      <div class="card-body">

        <form>
            <div class="row">
            <div class="col-md-6">
                <label>Stage</label>
                <select type="text" class="form-control form-control-lg" formControlName="Status" >
                    <option value="null">Select</option>
                    <option *ngFor="let Stage of Stagelist" value="{{Stage.id}}">{{Stage.description}}</option>
                </select>
                </div>
                <div class="col-md-6">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Enter description">
                </div>
            </div>
          <button type="submit" class="btn btn-primary m-2">Submit</button>
          <button type="button" class="btn btn-secondary m-2">Close</button>
        </form>
      </div>
    </div>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of statuses">
          <th scope="row">{{a.SNo}}</th>
          <td>{{a.description}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger ml-2">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
