.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .form-label .text-danger {
        font-weight: bold;
      }
      .square-radio {
        border: 1px solid black;
        margin: 2px;
        width: 20px;
        height: 20px;
        position: relative;
    
    }
    .square-radio--clicked .square-radio--content{
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        width: 10px;
        height: 10px;
    }