<div>
  <div class="card-header">
    All Email Campaigns
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="search-container">
        <label for="searchEmail" class="form-label">Search by Email Name:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" id="searchEmail" class="form-control search-input" placeholder="Enter email name"
            style="width: 400px;" [(ngModel)]="searchTerm" (input)="filterCampaigns()">
        </div>
      </div>
      <button routerLink="/CRM/AddEmailConversation" class="btn btn-danger">Add Email</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email Status</th>
          <th scope="col">Email Name</th>
          <th scope="col">Email List</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of filteredCampaigns | paginate: 
          { itemsPerPage: tableSize, 
          currentPage: page,
          totalItems: count }; 
          let i = index">
          <td>{{ a.emailStatus }}</td>
          <td><a style="text-decoration: none;" routerLink="CRM/AddEmailConversation/{{a.id}}"> {{a.eMail}}</a></td>
          <td><a style="text-decoration: none;" routerLink="CRM/AddEmailConversation/{{a.id}}"> {{a.list}}</a></td>
          <td>{{ a.emailCreated }}</td>
          <td>{{ a.emailUpdate }}</td>
          <td>
            <span class="material-symbols-outlined" (click)="edit(editData.id)"
              routerLink="/CRM/AddEmailConversation/{{a.id}}">edit</span>
            <span class="material-symbols-outlined" style="padding-left: 25px;"
              (click)="deleteEmail(a.id)">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container mt-4">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>