<div>
  <div class="">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="search-container">
        <label for="searchEmail" class="form-label">Search by Email : </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" id="searchEmail" class="form-control search-input" placeholder="Enter E-Mail"
            style="width: 400px;" [(ngModel)]="searchTerm" (input)="filterCampaigns()">
        </div>
      </div>
      <button routerLink="/CRM/Campagins/add-email" class="btn btn-danger" style="background-color: #8d0000;">Compose</button>
    </div>
    <table class="rwd-table table-bordered" style="width: 100%;">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Email Status</th>
          <th scope="col">Email</th>
          <th scope="col">Receiver Name</th>
          <th scope="col">Email Created Date</th>
          <th scope="col">List</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of filteredCampaigns | paginate: 
          { itemsPerPage: tableSize, 
          currentPage: page,
          totalItems: count }; 
          let i = index">
          <td>
            <span  (click)="edit(editData.id)" class="btn btn-sm btn-outline-primary" 
              routerLink="/CRM/Campagins/add-email"><i class="fa-solid fa-reply"></i></span>
            <span class="btn btn-sm btn-outline-danger ml-4" 
              (click)="DeleteEmail(a.id)"><i class="fa fa-trash"></i></span>
          </td>
          <td>{{ a.emailStatus }}</td>
          <td>{{a.eMail}}</td>
          <td>{{a.receiverName}}</td>
          <td>{{ a.emailCreated }}</td>
          <td>{{ a.emailLists }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container mt-4" style="justify-content: end;">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
