<div class="card m-3">
    <div class="card-header">
        <h2>Pipelines

        </h2>
    </div>
    <div class="card-body">

        <form [formGroup]="myForm" (ngSubmit)="onSearch()">
            <div class="d-flex flex-wrap">
                <div class="col-md-3">
                    <label>Deal Owner</label>
                    <select type="text" class="form-control" formControlName="DealOwnerName" >
                    
                    <option value="null">--Select Deal owner--</option>
                    <option *ngFor="let a of _loginlist" value="{{a.id}}">{{a.firstName+''+a.lastName}}</option>
                  </select>
                </div>
                <div class="col-md-3">
                    <label>Create Date</label>
                    <input type="date" class="form-control" formControlName="DealCreateDate">
                </div>
                <div class="col-md-3">
                    <label>Close Date</label>
                    <input type="date" class="form-control" formControlName="CloseDate">
                </div>
                <div class="col-md-3">
                    <label>Search</label>
                    <button type="submit" style="width: 200px;margin-right: 10px;" class="btn btn-primary" >Search</button>

                    <!-- <div style="width: 200px;" routerLink="/CRM/Leads"  type="button" class="btn btn-danger">Close</div> -->

                </div>
            </div>
        </form>
        <div *ngIf="piplineData" class="tabs">
            <div class="tab-header">
              <div class="tab" *ngFor="let a of piplineData; let i = index" [class.active]="selectedTab === i"
                (click)="selectTab(i)">
                {{ a.name }}
              </div>
            </div>
            <div class="tab-content">
              <div *ngIf="selectedTab !== null">
                <div *ngFor="let k of piplineData[selectedTab].stagevalues">
                  <div>
                    <span>Stage Name : </span>
                    <span>{{k.stageName}}</span>
                    <span> | </span>
                    <span>Stage Date : </span>
                    <span>{{k.stageDate | date}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- <div *ngFor="let deal of stages">
            <h3>{{ deal.Name }}</h3>
            <p>Total Value: {{ deal.TotalValue | currency }}</p>
            <div *ngFor="let stage of deal.StageValues">
              <p>Stage {{ stage.StageNumber }}: {{ stage.StageName }}</p>
            </div>
          </div> -->

        <!-- <div class="pipeline">
            <div class="stage" *ngFor="let stage of getStages()">
              <h3>{{ stage }}</h3>
              <div class="lead" *ngFor="let lead of pipelineStages[stage]">
                <p>{{ lead.name }}</p>
                <p>{{ lead.company }}</p>
                <p>{{ lead.contact }}</p>
              </div>
            </div>
          </div> -->
        
        <!-- <table *ngIf="Leadstages && Leadstages.length > 0">
            <tr>
                <th>Company Name</th>
                <th>Total Value</th>
                <th>Stages</th>
            </tr>
            <tr *ngFor="let deal of Leadstages">
                <td>{{ deal.name }}</td>
                <td>{{ deal.totalValue | currency }}</td>
                <td>
                    <ul>
                        <li *ngFor="let stage of deal.stageValues">
                            {{ stage.stageNumber }}: {{ stage.stageName }}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <p *ngIf="!Leadstages || Leadstages.length === 0">No deals found.</p>
  -->
    </div>
</div>

  