<div class="card m-3">
  <div class="card-header h4">
    Pipelines
  </div>
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="onSearch()">
      <div class="d-flex flex-wrap">
        <div class="col-md-3">
          <label class="h6">Deal Owner</label>
          <select type="text" class="form-control" formControlName="DealOwnerName">
            <option value="null">--Select Deal owner--</option>
            <option *ngFor="let a of _loginlist" value="{{a.id}}">{{a.firstName+''+a.lastName}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="h6">Create Date</label>
          <input type="date" class="form-control" formControlName="DealCreateDate">
        </div>
        <div class="col-md-3">
          <label class="h6">Close Date</label>
          <input type="date" class="form-control" formControlName="CloseDate">
        </div>
        <div class="col-md-3" style="float: right;padding-top: 30px;padding-left: 100px;">
          <button type="submit" style="width: 200px; background-color: #8D0000;"
            class="btn btn-danger  mr-4">Submit</button>
        </div>
      </div>
    </form>
    <div>
      <div *ngIf="piplineData" class="tabs">
        <div class="tab-header">
          <div class="tab" *ngFor="let a of piplineData; let i = index" [class.active]="selectedTab === i"
            (click)="selectTab(i)">
            {{ a.name }}
          </div>
        </div>
        <div class="tab-content">
          <div *ngIf="selectedTab !== null">
            <div *ngFor="let k of piplineData[selectedTab].stagevalues">
              <div>
                <span>Stage Name : </span>
                <span>{{k.stageName}}</span>
                <span> | </span>
                <span>Stage Date : </span>
                <span>{{k.stageDate | date}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- <div class="container mt-5" *ngIf="showListing">
  <div class="row mb-3">
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Deal Listing</h2>
    </div>
    <div class="card-body">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary" (click)="togglePage()">Create New Deal</button>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Deal Owner</th>
            <th>Deal Name</th>
            <th>Contact Name</th>
            <th>Lead Source</th>
            <th>Closing Date</th>
            <th>Expected Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="btn btn-sm btn-outline-primary">
                  <i class="fa fa-pencil-alt"></i>
              </span>
              <span class="btn btn-sm btn-outline-danger ml-4">
                  <i class="fa fa-trash"></i>
              </span>
          </td>
            <td>comes from loginId</td>
            <td>Deal name</td>
            <td>comes from lead</td>
            <td>lead source</td>
            <td>closing date</td>
            <td>amount of deal</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->