<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header">Country</div>
        <!-- <div class="card-body">
            <form [formGroup]="countryForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-md-12">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" formControlName="description" id="description" placeholder="Enter description"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                <button type="button" class="btn btn-secondary ml-2 mt-3" (click)="resetForm()">Close</button>
            </form>
        </div> -->
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countryList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ country.description }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" (click)="edit(country.id)">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger ml-2" (click)="deleteCountry(country.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
