<!-- <div *ngIf="!quotePage" class="Container cor-Contact">
  <div class="cor-flex justify-content-sb">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2" style="
              display: flex;
              justify-content: end;
              width: 90%;
              margin-bottom: 20px;
            ">
          <button class="btn btn-danger mr-2" routerLink="/CRM/Companies/add-quotes/{{id}}">Create Quote</button>
        </div>
        <div class="child2">
          <table class="table">
            <thead>
              <tr>
                <th>Actions</th>
                <th>Quote Number</th>
                <th>Quote Type</th>
                <th>Valid Until</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of listOfQuotations | paginate: 
                { itemsPerPage: tableSize, 
                currentPage: page,
                totalItems: count }; 
                let i = index">

                <td>

                  <span (click)="edit(quotation.id)" routerLink="/CRM/editquotes/{{a.id}}" class="fa fa-pencil-alt"
                    style="color: blue;">

                  </span>
                  <a routerLink="/CRM/quotes-invoice"><i class="fa-solid fa-download"
                      style="padding-right: 10px"></i></a>
                  <span (click)="deleteQuotation(a.id)" class="fa fa-trash" style="padding-left: 25px;color: red;">

                  </span>



                </td>
                <td>{{a.quoteId}}</td>
                <td>{{a.quoteTypeName}}</td>
                <td>{{a.validUntil}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-left">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div> -->



<div *ngIf="!addQuotes" class="Container cor-Contact">
  <div class="cor-flex justify-content-sb">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-2" style="
              display:flex;
              justify-content: end;
              width: 100%;
              margin-bottom: 20px;
              padding-right: 20px;
            ">
          <a routerLink="/CRM/Companies/add-quotes/{{id}}" class="btn btn-danger"
            style="background-color: #8D0000;">Create Quote</a>
        </div>
        <div class="child2">
          <table class="rwd-table table-bordered" style="width: 100%;">
            <thead>
              <tr>
                <th class="col" style="width: 100px !important;">Actions</th>
                <th class="col" style="width: 200px;">Quote Number</th>
                <th class="col" style="width: 200px;">Quote Type</th>

                <th class="col" style="width: 200px;">Valid Until</th>
                <th class="col" style="width: 200px;">Created Date</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of listOfQuotes | paginate: 
                { itemsPerPage: tableSize, 
                currentPage: page,
                totalItems: count }; 
                let i = index">

                <td style="width: 200px;">

                  <span (click)="edit(quotation.id)"  routerLink="/CRM/editquotes/{{a.id}}"
                    class="fa fa-pencil-alt" style="color: blue;">
                  </span>
                  <span style="padding-left: 20px;" routerLink="/CRM/quotes-invoice/{{a.id}}"><i class="fa-solid fa-download"></i></span>
                  <span (click)="deleteQuotation(a.id)" class="fa fa-trash" style="padding-left: 25px;color: red;">
                  </span>
                  <!-- <span>
                    <a routerLink="/CRM/quotes-invoice"><i class="fa-solid fa-download"
                      style="padding-right: 10px"></i></a>
                  </span> -->
                </td>
                <td>{{a.quoteId}}</td>

                <td>{{a.quoteTypeName}}</td>
                <td>{{a.validUntil | date:'dd/MM/yyyy'}}</td>
                <td>{{a.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</td>


              </tr>
            </tbody>
          </table>
          <div class="pagination-container mt-4" style="justify-content: end;">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

