<!-- app.component.html -->
<div class="container-fluid mt-5">
    <div class="card">
      <div class="card-header">
        Industry
      </div>
      <div class="card-body">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter description">
          </div>
          <div class="row">
            <div class="col-md-3">
                <div class="row emp-buttons" style="margin-top: 20px;">
                    <div class="col-md-3" >
                        <button type="submit" style="width: 100px;" class="btn btn-sm btn-outline-primary">Submit</button>
                     
                </div>
                <div class="col-md-3" style="margin-left: 60px;">
                    <div (click)="close()" style="width: 100px;"  type="button" class="btn btn-sm btn-outline-danger">Close</div>
                </div> 
                </div>
            </div>
            </div>
        </form>
      </div>
    </div>
  
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Industry</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of Industrylist">
          <th scope="row">1</th>
          <td>{{a.description}}</td>
          <td>
            <button  class="btn btn-sm btn-outline-primary">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button (click)="deleteIndustry(a.id)" class="btn btn-sm btn-outline-danger ml-2">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
