<div class="container-fluid;" style="width: 980px !important;">
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <h2><img src="https://cortracker.com/assets/img/logo.png.789.png"> Hyderabad</h2>
                            </td>
                            <td>
                                <h3>Invoice Details</h3>
                                Date: May 1, 2024<br>
                                Payment Terms: Cant be refunded<br>
                                Due Date: Jun 22, 2024<br>
                                PO Number: 12121321
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Bill To:<br>
                                Symphlore<br>
                                Ship To:<br>
                                Symphlore
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>
                    Item
                </td>
                <td>
                    Amount
                </td>
            </tr>
            <tr class="item">
                <td>
                    Lenevo Laptop (Quantity: 5, Rate: 55,000.00)
                </td>
                <td>
                    55,000.00
                </td>
            </tr>
            <tr class="total">
                <td></td>
                <td>
                    Subtotal: 55,000.00<br>
                    Discount (10%): -5000.00<br>
                    Tax (0%): 0.00<br>
                    <strong>Total: 50,000.00</strong>
                </td>
            </tr>
        </table>
        <br>
        <p>Notes:<br>
        100% free trainings<br>
        Implementations<br>
        Support</p>
        <p>Terms:<br>
        NON refundable</p>
    </div>
</div>
<div class="details ID">
    <div class="buttons" style="display: flex; gap: 10px;">
        <button routerLink="/quoteslisting" class="btn btn-primary"  style="width: 200px;" type="button">Back To Quotes</button>

        <div routerLink="/" style="width: 200px;" type="button"
            class="btn btn-danger">Close</div>

    </div>
</div>
